@import '../../../../variables.scss';

$tamanho: 300px;

.services {
	width: 100%;
	height: 100%;
	margin-top: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		width: 100%;
		position: relative;
	}

	h1 {
		font-size: 3rem;
		text-decoration: underline solid $backgroundColorSecondary;
		text-underline-offset: 0.75rem;
	}

	.servicesImg {
		width: 100%;
		height: 100%;
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: 30% 30%;
		grid-template-rows: 40% 40%;

		h2 {
			display: none;
		}

		.blackBox {
			display: none;
		}

		.manutencao,
		.gerais,
		.pintura,
		.jardinagem {
			text-align: center;
			background-size: cover;
			background-image: url('../../../../assets/manutencao.jpg'); // Depois colocar a background image em cada elemento inline
			border-radius: 50px;
			width: (1279px / 853px) * $tamanho - 100px; // Tamanho provisório
			height: (853px / 1279px) * $tamanho;
		}

		:hover {
			.blackBox {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				width: inherit;
				height: inherit;
				border-radius: inherit;
				background-color: black;
				opacity: 0.6;
			}
			h2 {
				font-size: 2rem;
				display: inherit;
				color: $backgroundColorSecondary;
			}
			cursor: pointer;
		}
	}
}

.products {
	width: 100%;
	height: 100%;
	margin-top: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 3rem;
		text-decoration: underline solid $backgroundColorPrimary;
		text-underline-offset: 0.75rem;
	}

	.carousel {
		margin-top: 2rem;
	}
}

.waveBackground {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: -1;
}
