@import '../../../../variables.scss';

$tamanho: 300px;

.services {
	width: 100%;
	height: 100%;
	margin-top: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		width: 100%;
		position: relative;
	}

	h1 {
		font-size: 3rem;
		text-decoration: underline solid $colorSecondary;
		text-underline-offset: 0.75rem;
	}

	.servicesImg {
		width: 100%;
		height: 100%;
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: 30% 30%;
		grid-template-rows: 40% 40%;

		h2 {
			display: none;
		}

		.blackBox {
			display: none;
		}

		.mru,
		.microbio,
		.pintura,
		.jardinagem {
			text-align: center;
			background-size: 100% 100%;
			border-radius: 50px;
			width: (1279px / 853px) * $tamanho - 100px; // Tamanho provisório
			height: (853px / 1279px) * $tamanho;
		}

		.mru {
			background-image: url('../../../../assets/MRU.png');
		}

		.microbio {
			background-image: url('../../../../assets/analise-microbiologica.jpg');
		}

		:hover {
			.blackBox {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				width: inherit;
				height: inherit;
				border-radius: inherit;
				background-color: black;
				animation-name: blackBoxFade;
				animation-duration: 0.8s;
				animation-fill-mode: forwards;
			}
			h2 {
				font-size: 2rem;
				text-align: center;
				display: inherit;
				color: $colorSecondary;
			}
			cursor: pointer;
		}
	}
}

.products {
	width: 100%;
	height: 100%;
	margin-top: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 3rem;
		text-decoration: underline solid $colorPrimary;
		text-underline-offset: 0.75rem;
	}

	.carousel {
		z-index: 0;
		margin-top: 2rem;
	}
}

.waveBackground {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: -1;
}

.certificacoes {
	background-color: $colorPrimary;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		margin-top: 5rem;
		font-size: 3rem;
		text-decoration: underline solid $colorSecondary;
		text-underline-offset: 0.75rem;
	}

	h2 {
		margin-top: 5rem;
	}

	.about {
		width: 80%;
		text-align: justify;
	}

	.certificacoesImg {
		margin-top: 5rem;
		display: flex;

		img {
			width: 15rem;
			margin: 1rem;
		}
	}
}

.footer {
	height: 20rem;
	width: 100%;
	background-color: $colorSecondary;
	display: flex;
	align-items: center;

	h2 {
		width: 30ch;
	}

	.footer-content {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
	}

	.footer-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@keyframes blackBoxFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.6;
	}
}
