<div class="waveBackground">
	<img src="../../../../assets/bottomWave.svg" />
	<img src="../../../../assets/upperWave.svg" />
</div>

<div class="services">
	<h1 class="colorWhite">Serviços</h1>

	<div class="servicesImg">
		<div class="mru">
			<div class="blackBox">
				<h2>MRU</h2>
			</div>
		</div>
		<div class="microbio">
			<div class="blackBox">
				<h2>Análise microbiológica</h2>
			</div>
		</div>
		<div class="pintura">
			<div class="blackBox">
				<h2>Pintura</h2>
			</div>
		</div>
		<div class="jardinagem">
			<div class="blackBox">
				<h2>Jardinagem</h2>
			</div>
		</div>
	</div>

	<h2 class="colorWhite" style="font-size: 2rem">
		Outros: Túneis de vento, calibrador de torquímetros, etc...
	</h2>
</div>

<div class="products">
	<h1>Produtos</h1>

	<div class="carousel">
		<carousel
			[images]="images"
			[width]="800"
			[dots]="true"
			[borderRadius]="100"
			[arrowsOutside]="true"
			[objectFit]="'contain'"
			[margin]="30"
			[lightDOM]="true"
			[loop]="true"
		></carousel>
	</div>
</div>

<div class="certificacoes">
	<h1 class="colorWhite">Certificações</h1>

	<div class="certificacoesImg">
		<img src="../../../../assets/petrobras-8.svg" alt="Logo petrobras" />
		<img src="../../../../assets/petrobras-8.svg" alt="Logo petrobras" />
		<img src="../../../../assets/petrobras-8.svg" alt="Logo petrobras" />
	</div>

	<h1 class="colorWhite">Institucional</h1>

	<h2 class="colorWhite about">
		A MEASURE OFFSHORE iniciou suas atividades em 2020, especializada em
		Engenharia Elétrica, Naval e Tecnologias de Operações Marítimas no setor
		VTS – Vessel Trafic System (VTS) e também setor Marítimo de Oil & Gás,
		focada nos requisitos legais internacionais e locais, como por exemplo,
		NORMAM 27 (Norma da Autoridade para Helideques em Plataformas
		Marítimas). Nessas áreas a calibração periódica dos instrumentos de
		navegação contribuem para a segurança da vida humana no mar e eficiência
		do posicionamento dinâmico (DP) dos navios, fornecendo medições
		confiáveis e precisas, prevenindo efeitos adversos do tráfego marítimo
		as instalações offshore. Os valores: Ética, Empatia, Criatividade e
		Inovação são refletidos dia a dia da MEASURE, nas tomadas de decisões,
		nas atitudes e comportamentos de cada profissional e pautam o
		relacionamento com os clientes. A empresa tem como desafio, a busca pelo
		que há de mais atual no mercado para atender sues clientes. E isso tem
		permitido que sejam alcançados ótimos resultados e entregas de alta
		qualidade. Além disso a MEASURE trabalha com suprimentos, materiais e
		equipamentos dos melhores fornecedores, com todos os certificados
		nacionais e internacionais requeridos. Para realizar uma calibração de
		qualidade, os simuladores e analisadores são fundamentais, eles permitem
		que os aparelhos sejam calibrados com muito mais segurança,
		credibilidade e precisão no desempenho. A MEASURE utiliza analisadores e
		simuladores de alta qualidade, procedimento padronizados através de
		software que geram laudos e certificados com assinatura digital, após a
		calibração. Dessa forma, é possível garantir que, independentemente do
		técnico ou engenheiro que realize a calibração, a qualidade do trabalho
		será garantida. Nossos Consultores Técnicos e Engenheiros buscam atender
		às necessidades dos nossos clientes em qualquer local, oferecendo uma
		assistência técnica e manutenção, que trabalham para garantir a
		tranquilidade deles. Dessa forma, podemos assegurar a precisão em tudo
		que certificamos ou entregamos. Segurança e eficiência são detalhes
		primordiais quando se pensa em serviços, na sua execução e nosseus
		resultados. E a MEASURE OFFSHORE conta com técnicos e engenheiros
		experientes e altamente qualificados. Nossos profissionais podem ir a
		bordo, pois, já possuem certificações: HUET, OPITO, CBSP, NR10, NR34,
		N35 E NR 37. Pioneira no desenvolvimento de uma metodologia baseada na
		Norma ABNT – NBR – IEC 60601-2-4: 2014 – Requisitos Particulares para a
		segurança básica e o desempenho de Cardioversores e Desfibriladores,
		para calibração desses equipamentos. A Calibração do DEA é uma prática
		imprescindível para as Embarcações (Navios, Plataformas, barcos de lazer
		e turismo, etc.), seja por exigência legal em diversos municípios no
		Brasil, Lei Federal (PL 736/2015), seja pelo cuidado especial com a vida
		humana.
	</h2>
</div>

<div class="footer mat-elevation-z4">
	<div class="footer-content">
		<div class="footer-item">
			<i class="material-icons">place</i>
			<h2>Av. Independência, 4803, Cabo Frio - RJ - Brasil</h2>
		</div>
		<div class="footer-item">
			<i class="material-icons">email</i>
			<h2>comercial1@measureoffshore.com.br</h2>
		</div>
		<div class="footer-item">
			<i class="material-icons">business</i>
			<h2>
				Measure Offshore Serviços de Engenharia Eletrica Naval e
				Comercio do Brasil Ltda. CNPJ:37.827.634/0001-22
			</h2>
		</div>
	</div>
</div>
