<div class="waveBackground">
	<img src="../../../../assets/bottomWave.svg" />
	<img src="../../../../assets/upperWave.svg" />
</div>

<div class="services">
	<h1 class="colorWhite">Serviços</h1>

	<div class="servicesImg">
		<div class="manutencao">
			<div class="blackBox">
				<h2>Manutenção</h2>
			</div>
		</div>
		<div class="gerais">
			<div class="blackBox">
				<h2>Gerais</h2>
			</div>
		</div>
		<div class="pintura">
			<div class="blackBox">
				<h2>Pintura</h2>
			</div>
		</div>
		<div class="jardinagem">
			<div class="blackBox">
				<h2>Jardinagem</h2>
			</div>
		</div>
	</div>

	<h2 class="colorWhite" style="font-size: 2rem">
		Outros: Encanamentos, serviços elétricos, construções, etc...
	</h2>
</div>

<div class="products">
	<h1>Produtos</h1>

	<div class="carousel">
		<carousel
			[images]="images"
			[width]="800"
			[dots]="true"
			[borderRadius]="100"
			[arrowsOutside]="true"
			[objectFit]="'cover'"
			[margin]="30"
			[lightDOM]="true"
			[loop]="true"
		></carousel>
	</div>
</div>

<div class="certificacoes">
	<h1 class="colorWhite">Certificações</h1>

	<div class="certificacoesImg">
		<img src="../../../../assets/petrobras-8.svg" alt="Logo petrobras" />
		<img src="../../../../assets/petrobras-8.svg" alt="Logo petrobras" />
		<img src="../../../../assets/petrobras-8.svg" alt="Logo petrobras" />
	</div>

	<h2 class="colorWhite">"A Measure Company é uma empresa ..."</h2>
</div>

<div class="footer mat-elevation-z4">
	<h1>Fixo: 3586-6595 - WhatsApp: (11) 2255-9685</h1>
	<div style="display: flex">
		<p>Designed By:</p>
		<img
			src="../../../../assets/asimovLogo.svg"
			alt="Logo da Asimov Júnior"
		/>
	</div>
</div>
