<div class="waveBackground">
	<img src="../../../../assets/bottomWave.svg" />
	<img src="../../../../assets/upperWave.svg" />
</div>

<div class="services">
	<h1 class="colorWhite">Serviços</h1>

	<div class="servicesImg">
		<!-- Provisório, vou ver um jeito melhor de fazer -->
		<div>
			<h2>Manutenção</h2>

			<h2>Gerais</h2>
		</div>
		<div>
			<h2>Pintura</h2>

			<h2>Jardinagem</h2>
		</div>
	</div>

	<h2 class="colorWhite" style="font-size: 2rem">
		Outros: Encanamentos, serviços elétricos, construções, etc...
	</h2>
</div>

<div class="products">
	<h1>Produtos</h1>
</div>
