<mat-toolbar class="toolBar">
	<img src="../../../../assets/measure-logo.png" />
	<span class="material-icons profileIcon">account_circle</span>
</mat-toolbar>

<div class="content">
	<mat-card class="profileCard mat-elevation-z4">
		<mat-card-title>
			<h1>Perfil</h1>
			<a style="text-align: center">
				<span class="material-icons">edit</span><br />Editar
			</a>
		</mat-card-title>
		<mat-card-content class="profileCardContent">
			<img
				class="profilePicture"
				[src]="defaultImage"
				alt="Foto de perfil"
			/>
			<h3>{{ user.name }}</h3>
			<h3><span class="material-icons">place</span>{{ user.adress }}</h3>
			<h3>{{ user.cnpj }}</h3>
		</mat-card-content>
	</mat-card>
</div>
