<div class="content" *ngIf="user">
	<mat-toolbar class="toolBar">
		<img src="../../../../assets/measure-logo.png" />
		<span class="material-icons profileIcon">account_circle</span>
	</mat-toolbar>

	<mat-card class="profileCard mat-elevation-z4">
		<mat-card-title>
			<h1>Perfil</h1>
			<a [routerLink]="['/editarPerfil']" class="editProfile">
				<span class="material-icons">border_color</span><br />Editar
			</a>
		</mat-card-title>
		<mat-card-content class="profileCardContent">
			<img
				class="profilePicture"
				[src]="user.profilePicture || defaultImage"
				alt="Foto de perfil"
			/>
			<h3>Nome: {{ user.name }}</h3>
			<h3>
				<span class="material-icons">place</span>Filial:
				{{ user.adress }}
			</h3>
			<h3>CNPJ: {{ user.cnpj }}</h3>
		</mat-card-content>

		<mat-card-actions>
			<button mat-raised-button (click)="signOut()">Sair</button>
		</mat-card-actions>
	</mat-card>

	<mat-expansion-panel class="filialPanel">
		<mat-expansion-panel-header>
			<mat-panel-title> Selecione sua filial </mat-panel-title>
		</mat-expansion-panel-header>

		<div class="panelContent">
			<a (click)="filialDialog()" *ngFor="let filial of filiais"
				>{{ filial.name }}
				<hr
			/></a>
		</div>
	</mat-expansion-panel>

	<div class="servicos">
		<div class="header">
			<h3>Serviços Contratados</h3>
			<button mat-raised-button>Adicionar serviço</button>
		</div>

		<mat-card class="servicosLista" *ngFor="let service of services">
			<mat-card-title>
				<h1>{{ service.name }}</h1>
				<p>{{ service.date }}</p>
			</mat-card-title>

			<mat-card-content>
				<p>{{ service.description }}</p>
			</mat-card-content>
		</mat-card>
	</div>
</div>
