@import '../../../../variables.scss';

.toolBar {
	width: 100%;
	margin-bottom: 2rem;
	background-color: $colorPrimary;
	justify-content: center;
	position: relative;

	img {
		width: 8rem;
	}

	.profileIcon {
		color: white;
		position: absolute;
		right: 2rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $colorSecondary;

	.profileCard {
		width: 50rem;
		min-height: 30rem;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-style: solid;
		border-radius: 50px;

		h1 {
			color: $colorPrimary;
			margin-top: 1rem;
			font-size: 3rem;
			text-shadow: 1px 1px 2px black;
		}

		.editProfile {
			text-decoration: none;
			color: black;
			text-align: center;
			position: absolute;
			top: 2rem;
			right: 2rem;
			:hover {
				cursor: pointer;
			}
		}

		.profileCardContent {
			display: flex;
			flex-direction: column;
			align-items: center;

			.profilePicture {
				width: 10rem;
				height: 10rem;
				border-radius: 50%;
				margin-bottom: 1rem;
			}

			h3 {
				margin: 0;
				color: gray;
				font-size: 1.5rem;
			}
		}

		mat-card-actions {
			button {
				color: $colorSecondary;
				background-color: $colorPrimary;
			}
		}
	}

	.filialPanel {
		margin-bottom: 2rem;

		.panelContent {
			overflow-y: auto;
			height: 7rem;
			text-align: center;

			a {
				display: block;
			}
			a:hover {
				cursor: pointer;
			}
		}
	}

	.servicos {
		display: flex;
		flex-direction: column;
		width: 75%;

		a {
			text-decoration: none;
		}

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1rem;

			button {
				color: $colorSecondary;
				background-color: $colorPrimary;
				border-radius: 50px;
			}
		}

		.servicosLista {
			color: $colorSecondary;
			background-color: $colorPrimary;
			margin-bottom: 2rem;
			border-radius: 30px;

			mat-card-title {
				width: 95%;
				display: flex;
				justify-content: space-between !important;
			}

			mat-card-content {
				margin-left: 2rem;
				width: 80%;
				text-align: justify;
			}
		}
	}
}
