<img style="width: 100%" src="../../../../assets/wave.svg" />
<div class="page-content">
	<div class="preta-servico">
		<h2>Prestação de</h2>
		<h2 class="palavra-servicos">SERVIÇOS</h2>
		<h2 style="margin-left: 5rem">terceirizados</h2>
		<h3>Anos de tradição na área e com<br />profissionais competentes</h3>
		<button mat-raised-button class="orcamento-button colorWhite">
			Realizar Orçamento
		</button>
	</div>
	<div
		class="consulte-equipe mat-elevation-z4"
		style="background-image: url('../../../../assets/measure-uniforme.jpg')"
	>
		<div class="black-box">
			<div class="consulta-text colorWhite">
				<h2>Consulte nossa equipe</h2>
			</div>
		</div>
	</div>
</div>

<div class="cardContainer">
	<div class="fraseCard mat-elevation-z4">
		<h2 class="colorWhite">A measure company é uma empresa...</h2>
		<img src="../../../../assets/medalha.png" alt="Imagem de medalha" />
	</div>
	<div class="iconsCard">
		<div class="icons">
			<div>
				<img
					src="../../../../assets/verified.png"
					alt="Icone verificado"
				/>
				<h3>Confiável</h3>
			</div>
			<div>
				<img
					src="../../../../assets/handshake.png"
					alt="Icone aperto de mão"
				/>
				<h3>Negociável</h3>
			</div>
			<div>
				<img
					src="../../../../assets/clock.png"
					alt="Icone aperto de mão"
				/>
				<h3>Rápido</h3>
			</div>
		</div>
	</div>
</div>
