<div class="content">
	<mat-toolbar class="toolBar">
		<img src="../../../../assets/measure-logo.png" />
		<span class="material-icons profileIcon">account_circle</span>
	</mat-toolbar>

	<mat-card class="servicoCard" *ngIf="service">
		<mat-card-title>
			<h1>{{ service.title }}</h1>
			<h2>{{ service.description }}</h2>
		</mat-card-title>

		<mat-card-content class="servicoCardContent">
			<hr style="width: 100%" />
			<h2>Documentos</h2>

			<hr style="width: 100%" />
			<h2>Funcionarios</h2>

			<div *ngFor="let funcionario of service.funcionarios">
				<p>{{ funcionario.name }}</p>
			</div>

			<hr style="width: 100%" />
			<h2>Equipamentos</h2>

			<div *ngFor="let equipamento of service.equipamentos">
				<p>{{ equipamento.name }}</p>
			</div>

			<h3>Donwload das informações do serviço</h3>
		</mat-card-content>
	</mat-card>
</div>
