<div class="content" *ngIf="servico">
	<mat-toolbar class="toolBar">
		<img src="../../../../assets/measure-logo.png" />
		<span class="material-icons profileIcon">account_circle</span>
	</mat-toolbar>

	<mat-card class="profileCard mat-elevation-z4">
		<mat-card-title>
			<h1>Serviço</h1>
			<a [routerLink]="['./editarServico']" class="editProfile">
				<span class="material-icons">border_color</span><br />Editar
			</a>
		</mat-card-title>
		<mat-card-content class="profileCardContent">
			<h3>Serviço: {{ servico.title }}</h3>
			<h3>
				<span class="material-icons">place</span>Filial:
				{{ servico.description }}
			</h3>
			<h3>CNPJ: {{ servico.funcionarios[0] }}</h3>
		</mat-card-content>

		<mat-card-actions>
			<button mat-raised-button (click)="goBack()">Voltar</button>
		</mat-card-actions>
	</mat-card>
</div>
