<div class="content">
	<mat-toolbar class="toolBar">
		<img src="../../../../assets/measure-logo.png" />
		<span class="material-icons profileIcon">account_circle</span>
	</mat-toolbar>

	<mat-card class="membersCard mat-elevation-z4">
		<mat-card-title>
			<h1>Membros Atuais</h1>
		</mat-card-title>
		<mat-card-content>
			<mat-tab-group mat-align-tabs="center">
				<mat-tab label="Clientes">
					<div class="tabContent">
						<mat-form-field appearance="outline">
							<mat-label>Pesquisar</mat-label>
							<input
								matInput
								type="text"
								[(ngModel)]="filterText"
							/>
							<i matSuffix class="material-icons">search</i>
						</mat-form-field>
						<mat-card
							class="funcionarioList mat-elevation-z4"
							*ngFor="
								let cliente of clientes
									| searchFilter: filterText
							"
						>
							<div class="info">
								<p>
									{{ cliente.name }},
									{{ cliente.birthday }}
								</p>
								<p>{{ cliente.adress }}</p>
							</div>
							<div>
								<button
									(click)="verCliente(cliente)"
									mat-raised-button
								>
									Ver
								</button>
								<button
									mat-raised-button
									color="warn"
									style="margin-left: 0.25rem"
									(click)="deletarCliente(cliente)"
								>
									Deletar
								</button>
							</div>
						</mat-card>
					</div>
				</mat-tab>
				<mat-tab label="Funcionarios">
					<div class="tabContent">
						<mat-form-field appearance="outline">
							<mat-label>Pesquisar</mat-label>
							<input
								matInput
								type="text"
								[(ngModel)]="filterText"
							/>
							<i matSuffix class="material-icons">search</i>
						</mat-form-field>
						<mat-card
							class="funcionarioList mat-elevation-z4"
							*ngFor="
								let funcionario of funcionarios
									| searchFilter: filterText
							"
						>
							<div class="info">
								<p>
									{{ funcionario.name }},
									{{ funcionario.birthday }}
								</p>
								<p>{{ funcionario.adress }}</p>
							</div>
							<div>
								<button
									mat-raised-button
									(click)="verFuncionario(funcionario)"
								>
									Ver
								</button>
								<button
									mat-raised-button
									color="warn"
									style="margin-left: 0.25rem"
									(click)="deletarFuncionario(funcionario)"
								>
									Deletar
								</button>
							</div>
						</mat-card>
					</div>
				</mat-tab>

				<mat-tab label="ADM's">
					<div class="tabContent">
						<mat-form-field appearance="outline">
							<mat-label>Pesquisar</mat-label>
							<input
								matInput
								type="text"
								[(ngModel)]="filterText"
							/>
							<i matSuffix class="material-icons">search</i>
						</mat-form-field>
						<mat-card
							class="funcionarioList mat-elevation-z4"
							*ngFor="
								let admin of admins | searchFilter: filterText
							"
						>
							<div class="info">
								<p>
									{{ admin.name }},
									{{ admin.birthday }}
								</p>
								<p>{{ admin.adress }}</p>
							</div>
							<div>
								<button
									mat-raised-button
									(click)="verAdmin(admin)"
								>
									Ver
								</button>
								<button
									mat-raised-button
									color="warn"
									style="margin-left: 0.25rem"
									(click)="deletarAdmin(admin)"
								>
									Deletar
								</button>
							</div>
						</mat-card>
					</div>
				</mat-tab>
			</mat-tab-group>
		</mat-card-content>

		<mat-card-actions>
			<button mat-raised-button class="action-btn" (click)="return()">
				Voltar
			</button>
		</mat-card-actions>
	</mat-card>
</div>
