<a href="/" style="position: absolute">voltar</a>

<div class="matCardContainer">
	<mat-card class="matCard mat-elevation-z4">
		<mat-card-title style="text-align: center">
			<p>LOGO</p>
			<h1>Cadastramento de novos clientes</h1>
		</mat-card-title>

		<form
			#userData="ngForm"
			(ngSubmit)="userSignUp(userData.value)"
			class="cadastroForm"
		>
			<!-- Nome -->
			<mat-form-field appearance="outline">
				<mat-label>Insira seu nome</mat-label>
				<input
					matInput
					type="text"
					name="name"
					ngModel
					required
					placeholder="Nome"
				/>
				<mat-error>Insira seu nome!</mat-error>
			</mat-form-field>
			<!-- CNPJ e data de Nascimento -->
			<div>
				<mat-form-field
					appearance="outline"
					style="margin-right: 0.5rem"
				>
					<mat-label>CNPJ</mat-label>
					<input
						matInput
						type="text"
						name="cnpj"
						ngModel
						required
						placeholder="00.000.000/0000-00"
						mask="00.000.000/0000-00"
					/>
					<mat-error>Insira um CNPJ!</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" style="width: 13.5rem">
					<mat-label>Nascimento</mat-label>
					<input
						matInput
						type="text"
						name="birthday"
						ngModel
						required
						placeholder="01/01/2021"
						mask="00/00/0000"
					/>
					<mat-error>Insira sua data de nascimento!</mat-error>
				</mat-form-field>
			</div>
			<!-- Telefone -->
			<mat-form-field appearance="outline">
				<mat-label>Telefone</mat-label>
				<input
					matInput
					type="text"
					name="phone"
					ngModel
					required
					placeholder="(99) 9999-9999"
					mask="{{ phoneMask }}"
					(ngModelChange)="phoneLength = $event; onPhoneChanged()"
				/>
				<mat-error>Insira um numero de telefone!</mat-error>
			</mat-form-field>
			<!-- Endereço -->
			<mat-form-field appearance="outline">
				<mat-label>Endereço</mat-label>
				<input
					matInput
					type="text"
					name="adress"
					ngModel
					required
					placeholder="Nome da rua"
				/>
				<mat-error>Insira seu endereço!</mat-error>
			</mat-form-field>
			<!-- Bairro e número -->
			<div>
				<mat-form-field
					appearance="outline"
					style="margin-right: 0.5rem; width: 21rem"
				>
					<mat-label>Bairro</mat-label>
					<input
						matInput
						type="text"
						name="district"
						ngModel
						required
						placeholder="Nome do bairro"
					/>
					<mat-error>Insira seu bairro!</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" style="width: 5rem">
					<mat-label>Nº</mat-label>
					<input
						matInput
						type="text"
						name="number"
						ngModel
						required
						placeholder="00"
						mask="0*"
					/>
					<mat-error>Insira o numero!</mat-error>
				</mat-form-field>
			</div>
			<!-- Complemento -->
			<mat-form-field appearance="outline">
				<mat-label>Complemento</mat-label>
				<input
					matInput
					type="text"
					name="complement"
					ngModel
					placeholder="Nome da rua"
				/>
			</mat-form-field>
			<!-- E-mail -->
			<mat-form-field appearance="outline">
				<mat-label>E-mail</mat-label>
				<input
					matInput
					type="text"
					name="email"
					ngModel
					required
					email
					placeholder="(99) 9999-9999"
				/>
				<mat-error>Insira um e-mail válido!</mat-error>
			</mat-form-field>
			<!-- Senha -->
			<mat-form-field appearance="outline">
				<mat-label>Senha</mat-label>
				<input
					matInput
					type="text"
					name="password"
					ngModel
					required
					placeholder="**********"
				/>
				<mat-error>Insira uma senha!</mat-error>
			</mat-form-field>
			<!-- Confirmar senha -->
			<mat-form-field appearance="outline">
				<mat-label>Confirme sua senha</mat-label>
				<input
					matInput
					type="text"
					name="password"
					ngModel
					required
					placeholder="**********"
				/>
				<mat-error>Confirme sua senha!</mat-error>
			</mat-form-field>

			<button mat-raised-button [disabled]="!userData.valid">
				Continuar
			</button>
		</form>
	</mat-card>
</div>
