<div class="engloba-mat-card">
	<mat-card class="mat-elevation-z4">
		<p>LOGO</p>
		<form class="login-form">
			<mat-form-field appearance="outline">
				<input
					matInput
					ngModel
					name="e-mail"
					[(ngModel)]="username"
					placeholder="E-mail"
					type="text"
					required
				/>
				<mat-error>Insira o e-mail!</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<input
					matInput
					ngModel
					name="senha"
					[(ngModel)]="password"
					placeholder="Senha"
					type="password"
					required
				/>
				<mat-error>Insira a senha!</mat-error>
			</mat-form-field>
		</form>

		<p class="forgot-password"><a href="#">Esqueci minha senha</a></p>
		<button
			class="login-button colorWhite"
			mat-raised-button
			(click)="logar()"
		>
			Login
		</button>

		<p class="ou-txt">ou</p>
		<button class="google-button" mat-raised-button>
			<img src="assets/Google-logo.svg" id="google-logo" />
			Entrar com o Google
		</button>

		<p style="margin-top: 10px">
			----------------------------- / / -----------------------------
		</p>

		<button
			class="create-account-button colorWhite"
			mat-raised-button
			(click)="navigateToCreateNewAccount()"
		>
			Criar Conta
		</button>
	</mat-card>
</div>
