.engloba-mat-card {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	background-image: linear-gradient(
		to bottom,
		#4abdb7 10%,
		#ebebeb 10%,
		#ebebeb 75%,
		#4abdb7 75%,
		#4abdb7 100%
	);
}

mat-card {
	width: 25rem;
	border-radius: 1rem;
	position: absolute;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;

	img {
		width: 20rem;
	}
}

.upperBar,
.bottomBar {
	position: absolute;
	width: 100%;
	background-color: #4abdb7;
	z-index: -1;
}

.upperBar {
	height: 5rem;
}

.bottomBar {
	bottom: 0;
	height: 10rem;
}

.login-form {
	display: flex;
	flex-direction: column;

	width: 20rem;
}

.login-button,
.google-button,
.create-account-button {
	font-size: 0.9rem;
	height: 2rem;
	border-radius: 3rem;
	text-align: center;
}

.login-button,
.create-account-button {
	width: 10rem;
	background-color: #4abdb7;
}

.login-button {
	margin-top: 1rem;
}

.google-button {
	// margin-top: 1rem;
	background-color: #ebebeb;
	width: 15rem;
	color: #4f4f4f;
}

#google-logo {
	width: 1rem;
}

.forgot-password {
	text-align: end;

	:hover {
		cursor: pointer;
	}

	a {
		color: grey;
		text-decoration: underline;
	}
}

.ou-txt {
	margin: 10px 10px;
}
