.engloba-mat-card {
	align-content: center;
	align-items: center;
	text-align: center;
}

mat-card {
	width: 22rem;
	height: 27rem;
	border-radius: 1rem;
	position: absolute;
	left: 50%;
	top: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-button,
.google-button,
.create-account-button {
	font-size: 0.9rem;
	height: 2rem;
	border-radius: 3rem;
	text-align: center;
}

.login-button,
.create-account-button {
	width: 10rem;
	background-color: #4abdb7;
}

.login-button {
	margin-top: 1rem;
}

.google-button {
	// margin-top: 1rem;
	background-color: #ebebeb;
	width: 15rem;
}

#google-logo {
	width: 1rem;
}

.forgot-password {
	text-align: end;
}

.forgot-password a {
	color: grey;
}

.ou-txt {
	margin: 10px 10px;
}
