/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.colorWhite {
	color: #ebebeb;
}

.msg-error {
	background-color: red;
	color: #ebebeb;
}

.msg-success {
	background-color: rgb(0, 185, 0);
	color: #ebebeb;
}

.action-btn {
	background-color: $colorPrimary;
	color: $colorSecondary;
}
